# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.pid.lock

# Directory for temporary items
tmp/
temp/

# Dependency directories
node_modules/

# Environment variables
.env
.env.local
.env.*.local
backend/.env
Docker/.env

# Test coverage reports
coverage/
*.lcov

# Debug files
*.swp
*.bak
*.tmp

# IDE files
.vscode/
.idea/
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
desktop.ini
*.lnk

# Sensitive files
vpn-config/openvpn/client.ovpn
vpn-config/openvpn/server.conf
vpn-config/ipsec/vpn_config.ipsec
